<mat-card>
    <mat-toolbar color="accent">
        <div align="center" style="color:white;text-align: right;">
            Orbit Full Stack Test - CRUD Students
        </div>
    </mat-toolbar>
    <br><br>
        <mat-card-content>
            <form [formGroup]="studentForm" (ngSubmit)="onFormSubmit(studentForm.value)">
                <mat-grid-list cols="4" rowHeight="350px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1" class="demo-full-width"></mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <table>
                            <tr>
                                <td class="tbl1">
                                    <mat-form-field class="demo-full-width">
                                        <input formControlName="Username" matTooltip="Enter username" matInput placeholder="Username">
                                    </mat-form-field>
                                    <mat-error>
                                        <span *ngIf="!studentForm.get('Username').value && studentForm.get('Username').touched"></span>
                                    </mat-error>
                                </td>
                            </tr>
                            <tr>
                                <td class="tbl1">
                                    <mat-form-field class="demo-full-width">
                                        <input formControlName="FirstName" matTooltip="Enter first name" matInput placeholder="First name">
                                    </mat-form-field>
                                    <mat-error>
                                        <span *ngIf="!studentForm.get('FirstName').value && studentForm.get('FirstName').touched"></span>
                                    </mat-error>
                                </td>
                            </tr>
                            <tr>
                                <td class="tbl1">
                                    <mat-form-field class="demo-full-width">
                                        <input formControlName="LastName" matTooltip="Enter last name" matInput placeholder="Last name">
                                    </mat-form-field>
                                    <mat-error>
                                        <span *ngIf="!studentForm.get('LastName').value && studentForm.get('LastName').touched"></span>
                                    </mat-error>
                                </td>
                            </tr>
                            <tr>
                                <td class="tbl1">
                                    <mat-form-field class="demo-full-width">
                                        <input formControlName="Age" matTooltip="Enter age" matInput placeholder="Age" type="number">
                                    </mat-form-field>
                                    <mat-error>
                                        <span *ngIf="!studentForm.get('Age').value && studentForm.get('Age').touched"></span>
                                    </mat-error>
                                </td>
                            </tr>
                            <tr>
                                <td class="tbl1">
                                    <mat-form-field class="demo-full-width">
                                        <input formControlName="Career" matTooltip="Enter career" matInput placeholder="Career">
                                    </mat-form-field>
                                    <mat-error>
                                        <span *ngIf="!studentForm.get('Career').value && studentForm.get('Career').touched"></span>
                                    </mat-error>
                                </td>
                            </tr>
                            <tr>
                                <td class="content-center">
                                    <div class="button-row">
                                        <button type="submit" mat-raised-button color="accent" matTooltip="Click Submit Button" [disabled]="!studentForm.valid">Submit</button>
                                        <button type="reset" mat-raised-button color="accent" matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="content-center" my="auto">
                                    <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:15px;font-weight:bold" class="success" align="center">
                                        {{massage}}
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
                </mat-grid-list>
            </form>
            <div class="table-content">
                <table class="table">
                    <tr ngclass="btn-primary">
                        <th class="tbl2">Username</th>
                        <th class="tbl2">First Name</th>
                        <th class="tbl2">Last Name</th>
                        <th class="tbl2">Age</th>
                        <th class="tbl2">Career</th>
                        <th class="tbl2">Edit</th>
                        <th class="tbl2">Delete</th>
                    </tr>
                    <tr *ngFor="let student of allStudents | async">
                        <td class="tbl2">{{student.username}}</td>
                        <td class="tbl2">{{student.firstName}}</td>
                        <td class="tbl2">{{student.lastName}}</td>
                        <td class="tbl2">{{student.age}}</td>
                        <td class="tbl2">{{student.career}}</td>
                        <td class="tbl2">
                            <button type="button" class="btn btn-info" matTooltip="Click Edit Button" (click)="loadStudentToEdit(student.id)">Edit</button>
                        </td>
                        <td class="tbl2">
                            <button type="button" class="btn btn-danger" matTooltip="Click Delete Button" (click)="deleteStudent(student.id)">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </mat-card-content>
</mat-card>